h5 {
  color: rgb(94, 94, 235);
}
h1 {
  text-align: center;
  text-shadow: 0px 0px 3px;
}
h2 {
  text-shadow: 0px 0px 3px;
}
.col-6{
  float: left;
  min-width: 200px;
}
.a{
  width: 200%;
}
img{
  border-radius: 5px;
  align: bottom;
}
iframe{
  width: 100%;
}